:root {
  --color-blue-light-1: #428CA9;
  --color-blue-dark-1: #286687;
  --color-blue-dark-2: #10496E;
  --color-blue-dark-2: #03375E;
  --color-barberry-light-1: #F5F54B;
  --color-barberry-light-2: #E0E030;
  --color-barberry-dark-1: #BFBF08;
  --color-grey-dark-2: #9C9C06;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'Roboto Mono', monospace, 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #10496E;
  min-height: 100vh; }

.header {
  display: flex;
  min-height: 7rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2.5rem; }

.nav-list {
  display: flex;
  overflow: hidden;
  background-color: #10496E;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 15px;
  justify-content: center;
  z-index: 10; }

.nav-btn {
  color: #fff;
  font-weight: bold;
  font-family: OstrichSans-Bold;
  outline: none;
  font-size: 3.5rem;
  background-color: #10496E;
  text-shadow: 3.5px 3.5px var(--color-blue-dark-2);
  border: none;
  cursor: pointer; }
  .nav-btn:hover {
    color: var(--color-barberry-light-1);
    text-shadow: 1.5px 1.5px #000000;
    animation: pulsate 1s infinite; }
  .nav-btn a:visited {
    color: inherit; }
  .nav-btn:not(:last-child) {
    margin-right: 2.5rem; }

@font-face {
  font-family: OstrichSans-Bold;
  src: url(OstrichSans-Bold.otf); }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rbga(0, 0, 0, 0.25); }
  100% { } }

.hero-vid {
  min-height: 400px;
  background: url("../img/dev_vid.gif") no-repeat 0;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.intro {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  font-size: 2.5rem;
  text-shadow: 3.5px 3.5px var(--color-blue-dark-2);
  background-color: var(--color-blue-dark-1);
  margin: 1.5rem 18.5rem;
  border-radius: 25px;
  box-shadow: var(--shadow-dark);
  color: #fff; }
  .intro__sentence {
    padding: 1.5rem 3rem; }

.slidingHorizontal {
  display: inline;
  position: relative;
  width: 100%;
  height: 100%; }
  .slidingHorizontal > * {
    position: absolute;
    top: 0;
    left: 20px; }
  .slidingHorizontal span {
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    font-size: 3.5rem;
    text-shadow: 3.5px 3.5px var(--color-blue-dark-2);
    background-color: transparent;
    color: var(--color-barberry-light-1);
    outline: none;
    opacity: 0;
    overflow: hidden;
    animation: leftToRight 12.5s linear infinite 0s;
    -ms-animation: leftToRight 12.5s linear infinite 0s;
    -webkit-animation: leftToRight 12.5s linear infinite 0s; }
  .slidingHorizontal span:nth-child(2) {
    animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s; }
  .slidingHorizontal span:nth-child(3) {
    animation-delay: 5s;
    -ms-animation-delay: 5s;
    -webkit-animation-delay: 5s; }
  .slidingHorizontal span:nth-child(4) {
    animation-delay: 7.5s;
    -ms-animation-delay: 7.5s;
    -webkit-animation-delay: 7.5s; }
  .slidingHorizontal span:nth-child(5) {
    animation-delay: 10s;
    -ms-animation-delay: 10s;
    -webkit-animation-delay: 10s; }

@-moz-keyframes leftToRight {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -moz-transform: translateX(-50px); }
  10% {
    opacity: 1;
    -moz-transform: translateX(0px); }
  25% {
    opacity: 1;
    -moz-transform: translateX(0px); }
  30% {
    opacity: 0;
    -moz-transform: translateX(50px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes leftToRight {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -webkit-transform: translateX(-50px); }
  10% {
    opacity: 1;
    -webkit-transform: translateX(0px); }
  25% {
    opacity: 1;
    -webkit-transform: translateX(0px); }
  30% {
    opacity: 0;
    -webkit-transform: translateX(50px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-ms-keyframes leftToRight {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    -ms-transform: translateX(-50px); }
  10% {
    opacity: 1;
    -ms-transform: translateX(0px); }
  25% {
    opacity: 1;
    -ms-transform: translateX(0px); }
  30% {
    opacity: 0;
    -ms-transform: translateX(50px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.bio-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center; }

.bio {
  font-size: 2rem;
  background-color: var(--color-blue-light-1);
  margin: 1.5rem 1.5rem;
  border-radius: 25px;
  box-shadow: var(--shadow-dark); }
  .bio__text {
    padding: 2.5rem;
    color: #fff; }

.headshot {
  width: 300px;
  height: 300px;
  border-radius: 50%; }

.project-title-container {
  display: flex;
  justify-content: center;
  background-color: var(--color-blue-dark-1);
  border-radius: 25px;
  box-shadow: var(--shadow-dark);
  margin: auto;
  max-width: 310px; }

.project-title {
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  font-size: 4.5rem;
  text-shadow: 3.5px 3.5px var(--color-blue-dark-2);
  color: var(--color-barberry-light-1); }

.project-section {
  margin-top: 20px; }

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin: 1.5rem; }

.project-header {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Roboto Mono', monospace;
  font-size: 3.5rem;
  text-shadow: 3.5px 3.5px var(--color-blue-dark-2);
  color: var(--color-barberry-light-1); }

.sound_swap-container {
  background-color: var(--color-blue-light-1);
  border-radius: 25px;
  box-shadow: var(--shadow-dark);
  width: 100%; }

.project-description {
  height: 50px;
  font-size: 2rem;
  text-align: center;
  color: #fff; }

.project-content {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.img-container {
  display: flex;
  justify-content: center; }

.project-image {
  border: 1.5rem solid var(--color-blue-dark-1);
  border-radius: 25px;
  box-shadow: var(--shadow-dark);
  margin: 15px;
  width: 350px;
  height: 270px; }
  .project-image:hover {
    border: 1.5rem solid var(--color-barberry-light-1); }

.tech-container {
  padding: 14px 0; }

.tech-text {
  border-radius: 25px;
  box-shadow: var(--shadow-dark);
  background-color: var(--color-barberry-light-1);
  margin: 0 auto;
  padding: 10px;
  width: 90%; }

.tech-header {
  margin-bottom: 10px;
  font-size: 2rem;
  text-align: center; }

.tech-list {
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 10px;
  width: 90%; }

.tech-link-text {
  margin: 0 auto;
  padding: 10px;
  color: #fff;
  width: 90%;
  padding: 10px;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 15px;
  box-shadow: var(--shadow-dark);
  background-color: var(--color-blue-dark-2); }

.footer {
  padding: 20px;
  color: #ffffff;
  background-color: var(--color-blue-dark-2);
  text-align: center;
  font-size: 2.5rem; }

.icon-container {
  display: flex;
  justify-content: center;
  width: 100%; }

.icon {
  margin: 0 15px 10px 15px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  width: 8rem; }
  .icon:hover {
    cursor: pointer;
    transform: scale(1.2);
    stroke-width: 0;
    stroke: var(--color-barberry-light-1);
    fill: var(--color-barberry-light-1); }

.resume-link {
  color: #fff;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  outline: none;
  font-size: 2.5rem;
  text-shadow: 3.5px 3.5px var(--color-blue-dark-1); }
  .resume-link:hover {
    color: var(--color-barberry-light-1);
    text-shadow: 1.5px 1.5px #000000;
    animation: pulsate 1s infinite; }

/* Media Queries */
@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #projects .project,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%; }
  header {
    padding-bottom: 20px; }
  #showcase h1 {
    margin-top: 40px; }
  #newsletter button, .quote button {
    display: block;
    width: 100%; }
  #newsletter form input[type="email"], .quote input, .quote textarea {
    width: 100%;
    margin-bottom: 5px; } }
