/////////////////////////////////
//////// LOGO

.logo {
  margin: 0;
  font-size: 5.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 3rem;
  text-shadow: 1.5px 1.5px #EFE81C;
}


/////////////////////////////////
////////  NAVIGATION


.nav-btn {
  color: #000000;
  font-weight: bold;
  font-size: 5.5rem;
  background-color: #1C586F;
  text-shadow: 1.5px 1.5px #EFE81C;
  border: none;

  cursor: pointer;


  &:hover {
    color: #EFE81C;
    text-shadow: 1.5px 1.5px #000000;
    animation: pulsate 1s infinite;
  }

  &:visited {
    color:#000000;
  }

  &:not(:last-child){
    margin-right: 2.5rem;
  }


}


@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rbga(0,0,0,.25);
  }

  100% {

  }
}










/* Showcase */
#showcase {
  min-height: 400px;
  background: url('../img/showcase.jpg') no-repeat 0;
  text-align: center;
  color: white;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

/*News letter*/

#newsletter {
  padding: 15px;
  color: white;
  background: #35424a;
}

#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 15px;

}
#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}

/* projects */
#projects {
  margin-top: 20px;
}

#projects .project {
  float: left;
  text-align: center;
  width: 30%;
  padding: 80px;
}

#projects .project img {
  width: 300px;
}

/* Main-col */
article#main-col {
  float: left;
  width: 65%;
}

/*side bar */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width: 90%;
  padding: 5px;
}

/* Services */
ul#services li{
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;

}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #projects .project,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }
  header {
    padding-bottom: 20px;
  }

  #showcase h1 {
    margin-top: 40px;
  }

  #newsletter button, .quote button {
    display: block;
    width: 100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea {
    width: 100%;
    margin-bottom: 5px;

  }
}
